.infoHeader {
  position: relative;
  width: 50px;
  height: 20px;
  left: 30px;
  margin: 0px;

  font-size: 13px;
  line-height: 20px;
  text-align: center;
  background-color: #d0d0d0;
}

.infoBox {
  position: relative;
  width: 350px;
  height: 370px;
  left: 20px;

  border: 1px solid black;
  box-sizing: border-box;
  display: table;
}

.info {
  position: relative;
  width: 100px;
  height: 120px;
  left: 15px;
  display: table;
  padding: 10px;

  background-color: white;
  box-sizing: border-box;
}

.infoLine {
  position: relative;
  margin: 15px;
  width: 100%;
  height: 20px;
  top: 20px;

  display: flex;
}

.infoIndex {
  position: relative;
  width: 60px;
  height: 26px;
  left: 10px;
  line-height: 10px;

  font-weight: bold;
  font-size: 10px;
}

.infoInput {
  position: relative;
  width: 200px;
  height: 18px;
  padding: 4px;

  font-size: 10px;
  background: #f4f4f4;
  border: 1px solid #c2c2c2;
}

.infoSelect {
  position: relative;
  width: 210px;
  height: 26px;
  padding: 5px;

  font-size: 10px;
  background: #f4f4f4;
  border: 1px solid #c2c2c2;
}

.emailInput {
  position: relative;
  width: 130px;
  height: 18px;
  top: -1px;
  left: -1px;

  font-size: 10px;
  background: #f4f4f4;
  border-width: 0px;
}

.waffleEmail {
  position: relative;
  width: 60px;
  height: 18px;
  left: 135px;
  text-align: right;
  top: -20px;
  line-height: 18px;

  color: #7d7d7d;
  font-size: 10px;
  background: #f4f4f4;
  box-sizing: border-box;
}
