.lockBox {
  position: relative;
  width: 350px;
  height: 370px;
  left: 20px;
  top: -860px;

  opacity: 0.3;
  background-color: black;
}

.lockImg {
  position: relative;
  left: 145px;
  top: -1100px;
  width: 100px;
  height: 100px;
}

.lockMessage {
  position: relative;
  left: 90px;
  top: -1100px;
}
