.listBox {
  position: relative;
  width: 350px;
  height: 350px;
  left: 20px;
  margin-top: 10px;

  border: 1px solid #c7c7c7;
  box-sizing: border-box;

  overflow-y: scroll;
  overflow-x: hidden;
}

.listBox::-webkit-scrollbar {
  display: none;
}

.listHeader {
  position: absolute;
  display: flex;
  width: 100%;
  height: 30px;

  border: 1px solid #c4c4c4;
  background: #c4c4c4;
}

.headerComp {
  width: 50px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;

  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
}

.emptyList {
  position: absolute;
  width: 100%;
  top: 190px;

  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.studentList {
  position: absolute;
  width: 100%;
  top: 15px;
}

.addButton {
  position: relative;
  width: 350px;
  left: 20px;
  height: 25px;
}