.dashBoard {
  position: relative;
  width: 720px;
  height: 140px;
  left: 20px;
  top: 70px;
  background: #f1f1f1;

  display: flex;
}

.dashBoardSlot {
  margin: 30px;
  width: 400px;
  color: #222222;
  font-weight: bold;
  font-size: 15px;
}
