.dashBoard {
  position: relative;
  width: 720px;
  height: 140px;
  left: calc(50% - 360px);
  margin-top: 70px;
  background: #f1f1f1;

  display: flex;
}

.dashBoardSlot {
  margin: 30px;
  width: 400px;
  top: 10px;
  color: #222222;
  font-weight: bold;
  font-size: 15px;
}

.barChartWrapper {
  position: relative;
  width: 200px;
  height: 150px;
  left: 50px;
  top: -27px;
}

.pieChartWrapper {
  position: relative;
  width: 250px;
  height: 150px;
  left: -210px;
  top: 10px;
}