.detailWrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.detailPage {
  margin: auto;
  height: 100%;
  width: 760px;
  top: 20px;

  border-width: 2px;
  border-color: black;
}
