.Wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.mainPage {
  margin: auto;
  height: 100%;
  width: 760px;
  top: 20px;
  background-color: white;
}

.divideLine {
  position: relative;
  border-left: 1px solid #e4e4e4;
  width: 0px;
  top: -290px;
  height: 400px;
  left: 50%;
}
