.wrapper {
    display: none;
}

.wrapper.show {
  display: unset;
}

.backBox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 36%;

  background-color: black;
}

.stdAddPage {
  position: absolute;
  width: 400px;
  height: 160px;
  left: calc(50% - 200px);
  top: calc(50% - 80px);
  display: table;
  padding: 10px;

  background-color: white;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.addLine {
  margin: 10px;
  width: 100%;
  height: 20px;

  display: flex;
}

.addIndex {
  position: relative;
  width: 70px;
  left: 20px;
  line-height: 0px;

  font-size: 12px;
  font-family: Abel;
}

.addInput {
  position: relative;
  width: 270px;
  height: 25px;
  left: 0px;

  font-size: 12px;
  background: #f4f4f4;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
}

.close {
    position: absolute;
    width: 45px;
    height: 25px;
    top: 120px;
    left: 280px;
    background-color: #C3B0FB;
    border-width: 1px;
    border-color: #B3A0EB;
    border-radius: 5px;
}

.add {
    position: absolute;
    width: 45px;
    height: 25px;
    top: 120px;
    left: 330px;
    background-color: #FAFAD2;
    border-width: 1px;
    border-color: #EAEAC2;
    border-radius: 5px;
}